services:
  db:
    image: mariadb:10.11
    container_name: pma_mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 123456

  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - 9080:80
    environment:
      - PMA_ARBITRARY=1
